.paragraphText
{
    font-family: "Segoe UI Semilight" , "Open Sans" , Verdana, Arial, Helvetica, Sans-Serif;
    letter-spacing: 0.02em;
    font-size: 11pt;
    font-weight: 200;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    line-height: 20px;
}

.commandButton
{
    font-family: "Segoe UI Light" , "Open Sans" , Verdana, Arial, Helvetica, Sans-Serif;
    background: #1E82CC;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    color: White;
    display: inline-block;
    font-size: 10pt;
    font-weight: 300;
    letter-spacing: 0.02em;
    text-align: left;
    vertical-align: middle;    
}

.commandButton:hover
{
    color: #0072C6;
}
